/**
@Fonts
 */
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    background: #E1615D;
    font: 1.6em Lato, sans-serif;
    color: #fff;
}

body, html {
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
}

#app > * {
    height: 100%;
}

/**
@Forms
 */
button {
    background: transparent;
    border-radius: 20px;
    border: 3Px solid #fff;
    font-size: 1.8rem;
    line-height: 1;
}

button a {
    color: #fff;
    text-decoration: none;
}