/**
@Fonts
 */
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    background: #8A63B3;
    font: 1.8em Lato, sans-serif;
    color: #fff;
}

body, html {
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
}

#app > * {
    height: 100%;
}

/**
@Forms
 */
button {
    background: transparent;
    border-radius: 20px;
    border: 3Px solid #fff;
    font-size: 1.8rem;
    line-height: 1;
    color: #fff;
}

button a {
    color: #fff;
    text-decoration: none;
}

input[type="text"],
input[type="number"],
input[type="password"] {
    border: none;
    width: 100%;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
}

#easyrtcErrorDialog {
    display: none !important;
}